<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>{{#linkTo products}}Ember Book Store{{/linkTo}}</h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li>
        {{#linkTo products.new}}
          +Add Book
        {{/linkTo}}
      </li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="large-4 columns">
    <div class="panel">{{ render 'cart' }}</div>
  </div>
  <div class="large-8 columns">
    {{ outlet }}
  </div>
</div>
